.nav{
  border-bottom: solid rgb(5, 129, 137);
  /* font-weight: bold; */
  /* border-bottom: 1px solid #565387; */
}

#header .btn-get-started
{
  color: wheat;
  font-weight: 500;
  background-color: rgb(51, 155, 51);
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.5s;
  text-decoration: none;
}
#header .btn-get-started:hover
{
  background-color: rgb(16, 211, 225);
}

#header .brand-name
{
  color: rgb(17, 125, 125);
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

.con{
  color: rgb(8, 101, 101);
  text-shadow: 3px 2px 5px;
}